<ion-content class="custom-background">
  <div class="custom-background">
    <img class="logo-image"
         src="assets/icon/logotipo-piloto.png"
         alt="Logo">
  </div>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bem vindo!</h1>
      <p>Faça login para continuar</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="email" id="email" type="text"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="password" id="password" type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button" (click)="login()" [disabled]="isLoading">
        {{ isLoading ? 'Entrando...' : 'Login' }}
      </ion-button>
      <div class="forgot-password">
        <a href="#">Esqueci minha senha</a>
      </div>
      <ion-button
        expand="block"
        fill="clear"
        (click)="register()"
        [disabled]="isLoading"
        class="ion-margin-top"
      >
        Registrar
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar translucent>
    <p class="footer-text">Quem pilota o negócio é você.</p>
  </ion-toolbar>
</ion-footer>