
:host {

  display: block;

}



.dashboard-header {

  position: sticky;

  top: 0;

  z-index: 1000;

}



.header-content {

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 12px;

}



.header-left {

  display: flex;

  align-items: center;

  gap: 8px;

}

.header-logo {

  height: 75px;

  width: auto;

}



.quick-nav-item {

  background: transparent;

  border: none;

  padding: 0;

}



@media (min-width: 1024px) {

  .dashboard-header ion-toolbar {

    padding-bottom: 4px;

  }

  .header-logo {

    height: 75px;

  }

}

