/* Tema PILOTO: Dark & Silver */

:root {
  /* Cor Primária: Prata Metálico (Botões principais, destaques) */
  --ion-color-primary: #e0e0e0;
  --ion-color-primary-rgb: 224, 224, 224;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c5c5c5;
  --ion-color-primary-tint: #e3e3e3;

  /* Cor Secundária: Cinza Carbono (Botões secundários) */
  --ion-color-secondary: #2c2c2c;
  --ion-color-secondary-rgb: 44, 44, 44;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #272727;
  --ion-color-secondary-tint: #414141;

  /* Cor Terciária: Azul Metálico (Para a Filial ou Alertas sutis) */
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /* Cores de Sucesso/Erro (Mantidas para funcionalidade) */
  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-warning: #000000;
  --ion-color-warning-rgb: 0,0,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;

  /* Fundo e Texto Padrão (Tema Escuro Forçado) */
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
}

/* Removemos o @media (prefers-color-scheme: dark) porque o app agora SERÁ sempre da cor preta e prata */
